<nav id="sidebar" class="sidebar-wrapper sidenav">
    <div class="sidebar-content">
      
      <div class="sidebar-header">
        <div class="user-pic">
        <img src="img/user.png" class="rounded-circle" alt="Cinque Terre"> 
        </div>
        <div class="user-info">
          <span class="user-name">Jhon
            <strong>Smith</strong>
          </span>
          <span class="user-role">Administrator</span>
          <span class="user-status">
            <i class="fa fa-circle"></i>
            <span>Online</span>
          </span>
        </div>
      </div>
      <!-- sidebar-header  -->
      <div class="sidebar-search">
        <div>
          <div class="input-group">
            <input type="text" class="form-control search-menu" placeholder="Search...">
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <!-- sidebar-search  -->
      <div class="sidebar-menu">
        <ul>
          <li class="header-menu">
            <span>General</span>
          </li>
          <li class="sidebar">
            <a href="#">
              <i class="fa fa-tachometer-alt"></i>
              <span>Dashboard</span>
              <span class="badge badge-pill badge-warning">New</span>
            </a>
          </li>
          <li class="sidebar">
            <a href="akun.php">
              <i class="fa fa-users"></i>
              <span>Akun</span>
              <span class="badge badge-pill badge-success">New</span>
            </a>
          </li>
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fa fa-shopping-cart"></i>
              <span>Menu</span>
              <span class="badge badge-pill badge-danger">3</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a href="menu-makanan.php">Makanan Kucing</a>
                </li>
                <li>
                  <a href="menu-obat.php">Obat Kucing</a>
                </li>
                <li>
                  <a href="menu-aksesoris.php">Aksesoris Kucing</a>
                </li>
                <li>
                  <a href="menu-foodplate.php">Food Plate Kucing</a>
                </li>
                <li>
                  <a href="menu-litter.php">Acc Liter Box Kucing</a>
                </li>
                <li>
                  <a href="menu-cage.php">Cage Kucing</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="far fa-gem"></i>
              <span>Layanan</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a href="layanan-smoothing.php">Smoothing Kucing</a>
                </li>
                <li>
                  <a href="layanan-penitipan.php">Penitipan Kucing</a>
                </li>
                <li>
                  <a href="layanan-vaksin.php">Vaksin Kucing</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fa fa-chart-line"></i>
              <span>Laporan</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a href="#">Laporan Transaksi</a>
                </li>
                <li>
                  <a href="#">Laporan Menu Penjualan</a>
                </li>
                <li>
                  <a href="#">Laporan Keuntungan</a>
                </li>
                <li>
                  <a href="#">Laporan Stok Barang</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fa fa-cogs"></i>
              <span>Pengaturan</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a href="profil.php">Edit Profil</a>
                </li>
                <li>
                  <a href="#">Logout</a>
                </li>
              </ul>
            </div>
          </li>
         
        </ul>
      </div>
      <!-- sidebar-menu  -->
    </div>
    <div class="sidebar-footer">
    <small>Optimized by Amrel</small>
    </div>
    <!-- sidebar-content  -->
</nav>